.container{
  margin-left: 350px;
}

.search:focus {
  box-shadow: 0px 0px 8px 3px rgb(62, 62, 241);

}
input{  padding: 10px;
  width: 650px;
  border-radius: 5px;
  margin-top: 30px;
  
}
h1{
  color: white;
  margin-top: 50px;
  text-align: center;
}
/* button {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
} */
.Images{
  width: 250PX;
  height: 350PX;
  padding: 2px;
  
  /* display: block; */


}


.movieslist{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
}

.overlay { 
  transform: translate(-0%, -100%);
  width: 250PX;
  height: 350PX;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(57, 96, 109, 0.658);
}

.affiche{
  /* position: relative; */
  width:250PX;
  height: 350PX;
  margin-top: 10px;
}

 .affiche:hover .overlay {
  opacity: 1;
} 

 .text {
  color: white;
  font-size: 15px; 
  transform: translate(-0%, -2%);
  padding: 10px;
  text-align: justify;
  /* -ms-transform: translate(-30%, -90%);  */
 }


 .info{
   color: black;
margin-left: 20px;   font-size: 18px;   
 }

 .desc{
   justify-content: center;
   margin-left: 80px;
 }

 .fa-trash-alt{
   color: chartreuse;

 }

 .fa-edit{
   color: chocolate;
 }
 .box{
   width: 250px;
   /* padding: 20px; */
   /* border: 1px solid black; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   /* margin: 50px; */
   margin-top: 20px;
   background-color: rgb(48, 48, 90);
 }

 .title {
   text-align: center;
   color: yellow;
   margin-top: 5px;
   font-size: x-large;
   
  }
  .addmovie{
    border: 1 solid gray;
    width: 250px;
  }


  input[type="radio"]{
    display: none;
  }

  .star {
    cursor: pointer;
     transition: color 200ms;
     margin-left: 0px;
  }

  .starss {
    font-size: 35px;
    margin: 2px;
    
  }
  .stars{
    text-align: center;
  }
 .stars .star { 
   font-size: 20px;
   margin: 3px;
  
 }
 .btn{
   width: 250px;
   float: right;
 }
 .inputs input {
   width: 300px;
 }
 